In [11]:
liked_books = ["14", "1334340", "12170167"]

In [12]:
!head book_id_map.csv

book_id_csv,book_id
0,34684622
1,34536488
2,34017076
3,71730
4,30422361
5,33503613
6,33517540
7,34467031
8,6383669

In [13]:
csv_book_mapping = {}
with open("book_id_map.csv", 'r') as f:
    while True:
        line = f.readline()
        if not line:
            break
        csv_id, book_id = line.strip().split(",")
        csv_book_mapping[csv_id] = book_id

In [14]:
len(csv_book_mapping)

2360651

In [15]:
!wc -l goodreads_interactions.csv

228648343 goodreads_interactions.csv

In [16]:
!ls -lh | grep goodreads_interactions

-rw-r--r-- 1 Kevin Kevin 4.1G Apr  8 17:00 goodreads_interactions.csv

In [17]:
overlap_users = set()

with open("goodreads_interactions.csv", 'r') as f:
    while True:
        line = f.readline()
        if not line:
            break
        user_id, csv_id, _, rating, _ = line.split(",")

        if user_id in overlap_users:
            continue

        try:
            rating = int(rating)
        except ValueError:
            continue

        book_id = csv_book_mapping[csv_id]

        if book_id in liked_books and rating >= 4:
            overlap_users.add(user_id)

In [18]:
rec_lines = []

with open("goodreads_interactions.csv", 'r') as f:
    while True:
        line = f.readline()
        if not line:
            break
        user_id, csv_id, _, rating, _ = line.split(",")

        if user_id in overlap_users:
            book_id = csv_book_mapping[csv_id]
            rec_lines.append([user_id, book_id, rating])

In [19]:
import pandas as pd

recs = pd.DataFrame(rec_lines, columns=["user_id", "book_id", "rating"])
recs["book_id"] = recs["book_id"].astype(str)

In [20]:
top_recs = recs["book_id"].value_counts().head(10)
top_recs = top_recs.index.values

In [21]:
books_titles = pd.read_json("books_titles.json")
books_titles["book_id"] = books_titles["book_id"].astype(str)

In [22]:
books_titles.head()

,book_id,title,ratings,url,cover_image,mod_title
0,7327624,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",140,https://www.goodreads.com/book/show/7327624-th...,https://images.gr-assets.com/books/1304100136m...,the unschooled wizard sun wolf and starhawk 12
1,6066819,Best Friends Forever,51184,https://www.goodreads.com/book/show/6066819-be...,https://s.gr-assets.com/assets/nophoto/book/11...,best friends forever
2,287141,The Aeneid for Boys and Girls,46,https://www.goodreads.com/book/show/287141.The...,https://s.gr-assets.com/assets/nophoto/book/11...,the aeneid for boys and girls
3,6066812,All's Fairy in Love and War (Avalon: Web of Ma...,98,https://www.goodreads.com/book/show/6066812-al...,https://images.gr-assets.com/books/1316637798m...,alls fairy in love and war avalon web of magic 8
4,287149,The Devil's Notebook,986,https://www.goodreads.com/book/show/287149.The...,https://images.gr-assets.com/books/1328768789m...,the devils notebook

In [26]:
books_titles[books_titles["book_id"].isin(top_recs)]

,book_id,title,ratings,url,cover_image,mod_title
284473,2767052,"The Hunger Games (The Hunger Games, #1)",4899965,https://www.goodreads.com/book/show/2767052-th...,https://images.gr-assets.com/books/1447303603m...,the hunger games the hunger games 1
401395,5107,The Catcher in the Rye,2086945,https://www.goodreads.com/book/show/5107.The_C...,https://images.gr-assets.com/books/1398034300m...,the catcher in the rye
463463,4671,The Great Gatsby,2758812,https://www.goodreads.com/book/show/4671.The_G...,https://images.gr-assets.com/books/1490528560m...,the great gatsby
615314,5470,1984,2023937,https://www.goodreads.com/book/show/5470.1984,https://images.gr-assets.com/books/1348990566m...,1984
770177,7613,Animal Farm,1928931,https://www.goodreads.com/book/show/7613.Anima...,https://images.gr-assets.com/books/1424037542m...,animal farm
790927,2657,To Kill a Mockingbird,3255518,https://www.goodreads.com/book/show/2657.To_Ki...,https://images.gr-assets.com/books/1361975680m...,to kill a mockingbird
878545,3,Harry Potter and the Sorcerer's Stone (Harry P...,4765497,https://www.goodreads.com/book/show/3.Harry_Po...,https://images.gr-assets.com/books/1474154022m...,harry potter and the sorcerers stone harry pot...
902688,136251,Harry Potter and the Deathly Hallows (Harry Po...,1784684,https://www.goodreads.com/book/show/136251.Har...,https://images.gr-assets.com/books/1474171184m...,harry potter and the deathly hallows harry pot...
995137,15881,Harry Potter and the Chamber of Secrets (Harry...,1821802,https://www.goodreads.com/book/show/15881.Harr...,https://images.gr-assets.com/books/1474169725m...,harry potter and the chamber of secrets harry ...
1294402,14,The Hitchhiker's Guide to the Galaxy (Hitchhik...,3656,https://www.goodreads.com/book/show/14.The_Hit...,https://images.gr-assets.com/books/1414351529m...,the hitchhikers guide to the galaxy hitchhiker...

In [27]:
all_recs = recs["book_id"].value_counts()

In [28]:
all_recs

14          410
3           337
2767052     321
5470        321
5107        298
           ...
6713641       1
4414165       1
6633415       1
6518639       1
22363629      1
Name: book_id, Length: 253515, dtype: int64

In [29]:
all_recs = all_recs.to_frame().reset_index()

In [31]:
all_recs.columns = ["book_id", "book_count"]

In [32]:
all_recs

         book_id  book_count
0             14         410
1              3         337
2        2767052         321
3           5470         321
4           5107         298
...          ...         ...
253510   6713641           1
253511   4414165           1
253512   6633415           1
253513   6518639           1
253514  22363629           1

[253515 rows x 2 columns]

In [33]:
all_recs = all_recs.merge(books_titles, how="inner", on="book_id")

In [34]:
all_recs

,book_id,book_count,title,ratings,url,cover_image,mod_title
0,14,410,The Hitchhiker's Guide to the Galaxy (Hitchhik...,3656,https://www.goodreads.com/book/show/14.The_Hit...,https://images.gr-assets.com/books/1414351529m...,the hitchhikers guide to the galaxy hitchhiker...
1,3,337,Harry Potter and the Sorcerer's Stone (Harry P...,4765497,https://www.goodreads.com/book/show/3.Harry_Po...,https://images.gr-assets.com/books/1474154022m...,harry potter and the sorcerers stone harry pot...
2,2767052,321,"The Hunger Games (The Hunger Games, #1)",4899965,https://www.goodreads.com/book/show/2767052-th...,https://images.gr-assets.com/books/1447303603m...,the hunger games the hunger games 1
3,5470,321,1984,2023937,https://www.goodreads.com/book/show/5470.1984,https://images.gr-assets.com/books/1348990566m...,1984
4,5107,298,The Catcher in the Rye,2086945,https://www.goodreads.com/book/show/5107.The_C...,https://images.gr-assets.com/books/1398034300m...,the catcher in the rye
...,...,...,...,...,...,...,...
234090,6713641,1,Lean On Pete,96,https://www.goodreads.com/book/show/6713641-le...,https://s.gr-assets.com/assets/nophoto/book/11...,lean on pete
234091,4414165,1,Superpowers,63,https://www.goodreads.com/book/show/4414165-su...,https://images.gr-assets.com/books/1356455507m...,superpowers
234092,6633415,1,Shootin' the Shit with Kevin Smith: The Best o...,484,https://www.goodreads.com/book/show/6633415-sh...,https://s.gr-assets.com/assets/nophoto/book/11...,shootin the shit with kevin smith the best of ...
234093,6518639,1,American Rust,41,https://www.goodreads.com/book/show/6518639-am...,https://s.gr-assets.com/assets/nophoto/book/11...,american rust
234094,22363629,1,"Shoot to Kill (Young Bond, #6)",342,https://www.goodreads.com/book/show/22363629-s...,https://images.gr-assets.com/books/1408758132m...,shoot to kill young bond 6

In [35]:
all_recs["score"] = all_recs["book_count"] * (all_recs["book_count"] / all_recs["ratings"])

In [36]:
all_recs.sort_values("score", ascending=False).head(10)

,book_id,book_count,title,ratings,url,cover_image,mod_title,score
0,14,410,The Hitchhiker's Guide to the Galaxy (Hitchhik...,3656,https://www.goodreads.com/book/show/14.The_Hit...,https://images.gr-assets.com/books/1414351529m...,the hitchhikers guide to the galaxy hitchhiker...,45.979212
133,12170167,118,A Study in Scarlet,786,https://www.goodreads.com/book/show/12170167-a...,https://images.gr-assets.com/books/1327999384m...,a study in scarlet,17.715013
490,1334340,61,The Hobbit,441,https://www.goodreads.com/book/show/1334340.Th...,https://images.gr-assets.com/books/1486587627m...,the hobbit,8.437642
991,13154235,40,"The Sign of Four (Sherlock Holmes, #2)",311,https://www.goodreads.com/book/show/13154235-t...,https://images.gr-assets.com/books/1327222503m...,the sign of four sherlock holmes 2,5.144695
1085,12320698,38,The Adventures of Sherlock Holmes,367,https://www.goodreads.com/book/show/12320698-t...,https://images.gr-assets.com/books/1333581418m...,the adventures of sherlock holmes,3.934605
2248,13154236,24,The Memoirs Of Sherlock Holmes (Sherlock Holme...,164,https://www.goodreads.com/book/show/13154236-t...,https://images.gr-assets.com/books/1327226308m...,the memoirs of sherlock holmes sherlock holmes 4,3.512195
3658,18300304,17,The Return of Sherlock Holmes,85,https://www.goodreads.com/book/show/18300304-t...,https://images.gr-assets.com/books/1388939160m...,the return of sherlock holmes,3.400000
4456,18300305,15,His Last Bow,71,https://www.goodreads.com/book/show/18300305-h...,https://images.gr-assets.com/books/1389976399m...,his last bow,3.169014
7262,26856502,10,"Vengeful (Villains, #2)",35,https://www.goodreads.com/book/show/26856502-v...,https://s.gr-assets.com/assets/nophoto/book/11...,vengeful villains 2,2.857143
3803,28170940,16,"Lethal White (Cormoran Strike, #4)",106,https://www.goodreads.com/book/show/28170940-l...,https://s.gr-assets.com/assets/nophoto/book/11...,lethal white cormoran strike 4,2.415094

In [37]:
popular_recs = all_recs[all_recs["book_count"] > 75].sort_values("score", ascending=False)

In [38]:
def make_clickable(val):
    return '<a target="_blank" href="{}">Goodreads</a>'.format(val)

def show_image(val):
    return '<img src="{}" width=50></img>'.format(val)

popular_recs[~popular_recs["book_id"].isin(liked_books)].head(10).style.format({'url': make_clickable, 'cover_image': show_image})